body {
    background-color: #2E3E4E;
}

#wrapper {
    .sidebar {
        background-color: #41586E;
        .sidebar-brand {
            background-color: #2E3E4E;
        }
        .nav-item{
            //background-color: #41586E;
            //color: white;
        }
    }

}

.navbar {
    background-color: #41586E;
}

